*
{
   margin:0;
   padding:0;
   box-sizing:border-size;
}

body
{
   background-image:url("https://cdn.wallpapersafari.com/30/14/GeoySV.jpg");
   background-size:cover;
   background-position:height;
   font-family:sans-serif;

.image
{
   width:20px;
   height:15px;
   text-align:center;
}

